.todos-container h2 {
  text-align: center;
  font-size: var(--font-subtitle);
}
ul {
  overflow-y: scroll;
  height: 22vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}
ul::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 40em) {
  ul {
    height: 35vh;
  }
}
.todo-text {
  background-color: var(--bg-grey-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0.5em;
}
/* Custom Checkbox */
input[type='checkbox'] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.45em;
  height: 1.45em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
  text-decoration: none;
}
input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  color: #45a101;
  box-shadow: inset 1em 1em #45a101;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:focus {
  outline: 0.15em solid #45a101;
  outline-offset: 0.15em;
}

.todo-text input {
  cursor: pointer;
}
.todo-list {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.3em;
  font-size: var(--font-list);
}
.todo-list--completed {
  color: gray;
  text-decoration: line-through;
}
.todo-actions {
  margin-left: 1em;
}
.todo-actions .todo-actions-button:first-child {
  margin-right: 0.25em;
}
.todo-actions .todo-actions-button {
  cursor: pointer;
  transition: 0.3s all ease;
}
.todo-actions .edit:hover {
  color: #45a101;
}
.todo-actions .delete:hover {
  color: red;
}
