.todos-container h2 {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}
.todo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.todo-text input {
  cursor: pointer;
}
.todo-list {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.3em;
}
.todo-list--completed {
  color: green;
  text-decoration: line-through;
}
.todo-actions span {
  cursor: pointer;
}
