blockquote {
  margin: 1em 0;
  padding: 0.8em 0.8em 0.8em 1em;
  background-color: var(--bg-grey-300);
  border-radius: var(--br);
  border-left: var(--border-quote);
  font-size: var(--font-quote);
  text-align: left;
}
blockquote h3 {
  font-style: italic;
}
