:root {
  --bg-white: rgba(255, 255, 255, 0.1);
  --bg-grey-100: rgba(255, 255, 255, 0.15);
  --bg-grey-200: rgba(255, 255, 255, 0.2);
  --bg-grey-300: rgba(255, 255, 255, 0.25);
  --bg-grey-400: rgba(255, 255, 255, 0.3);
  --br: 5px;
  --border: 1px solid rgba(255, 255, 255, 0.5);
  --border-quote: 3px solid rgba(255, 255, 255, 0.5);
  --font-quote: 0.6rem;
  --font-title: 1.5rem;
  --font-subtitle: 1rem;
  --font-list: 0.75rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --font-quote: 0.7rem;
    --font-title: 1.75rem;
    --font-subtitle: 1.25rem;
    --font-list: 0.9rem;
  }
}

body {
  background: url('https://i.postimg.cc/65Rh3CkW/lukas.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0 0.5em;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}
main {
  max-width: 600px;
  padding: 0 14px;
}

input,
button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: var(--br);
}
input {
  background-color: var(--bg-grey-100);
  outline: none;
}
input:focus {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.09);
}
input::placeholder {
  color: grey;
}
button {
  cursor: pointer;
  background-color: var(--bg-grey-200);
  font-weight: bolder;
}
button:hover {
  background-color: var(--bg-grey-300);
}
