body {
  display: flex;
  justify-content: center;
  color: rgb(41, 41, 41);
  margin: 0 0.5em;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}
main {
  max-width: 600px;
  padding: 0 14px;
}

input,
button {
  padding: 0.25em 0.5em;
}
